<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <connectionStrings>
        ../../Database/db_fruit_stock.accdb
        <add name="Fruit_Stock.Properties.Settings.db_fruit_stock_connection_string"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=../../Database/db_fruit_stock.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>